<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <ul class="right">
    <li>
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
    </li>
  </ul>
  
<h1>Update trait</h1>
<form action="/signs/<%= signName %>/traits/edit/<%= trait._id %>" method="POST" class="form">
    <input type="submit" value="Update Trait" class="input"></input>
    <input type="text" name="name"  class="text" value="<%= trait.name %>"></input>
  </form> 
<form action="/signs/<%= signName %>/traits/delete/<%= trait._id %>" method="POST" class="form">
    <input type="submit" value="Erase Trait" class="input"></input>
  </form> 

</body>

</html>