<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/show.css' />
  
</head>


<body class="show">
    <ul class="right">
        <li><a href="/signs">Home</a></li>
            <li style="float:right">
              <% if (user) { %>
                <a href="/signs/logout"><i class="material-icons left"></i>Log Out</a>
                <% } else { %>
                  <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
                  <% } %>
            </li>
          </ul>
    

    <h1> <%= sign.name %> </h1>
    <h1> <%= sign.dateRange %> </h1>
    <img src="<%= sign.img %>" class="img">
    <h1> <%= sign.traits.join(', ') %> </h1>
    <h1> <%= traits.map(t => t.name).join(", ") %> </h1>
<form action="/signs/<%= sign.name %>/trait" method="POST" class="form">
  <input type="submit" value="Add Traits" class="input"></input>
  <input type="text" name="name"  class="text"></input>
</form> 
 
  
</body>

</html>